.insta-button {
    color:crimson;
    font-size: 190%;

    margin-left: 50%;
   
}
.YT-button {
    color: red; 
    margin-right: 50%;
    font-size: 190%;
}
.claim-button {
    color: gold;
    font-size: 300%;
    text-shadow: black 4px 4px;
    margin-right: 0%
    
}