body {
    background-image: url(https://images.hdqwalls.com/wallpapers/three-lines-strips-5k-tl.jpg);
    background-size: cover;
}
h1  {
    padding: auto;
    font-family: 'Bebas Neue', sans-serif;
    color: $color-black;
    font-size: 222%;
    font-style: normal;
}
.nav-container {
    background-color: $color-gold;
}
