body {
    background-image: url(/images/body-background.jpg);
    background-size: cover;
}
h1  {
    padding: auto;
    font-family: 'Lobster', sans-serif;
    color: $color-black;
    font-size: 222%;
    font-style: normal;
}
.nav-container {
    background-color: $color-gold;
}
