.free-website-1 {
    
    font-size: 400%;
    font-family: 'Barlow Condensed', sans-serif;
}
.free-website-2 {
    color: rgb(255, 255, 255);
    font-size: 300%;
    font-family: 'Barlow Condensed', sans-serif;
}
.free-website-3 {
    color: rgb(255, 255, 255);
    font-size: 200%;
    font-family: 'Barlow Condensed', sans-serif;
}