.home-about-button-hover:hover {
    scale: 150%;
    color:red;
}
.nav-title-hover:hover {
    scale: 111%;
    cursor: zoom-in;
}
.fieldset-request-hover:hover {
    scale: 105%;
}
.request-button:hover {
    scale: 120%;
}