.software {
    margin-top:-3%;
    color: $color-gold;
}
.photoshop {
    margin-top: -2%
}
.harmony {
    margin-top: -35%;
    margin-left: 7%;
}
.vegas {
    margin-top: -27%;
    margin-left: 1%;
}
.ae {
    margin-top: -35%;
    margin-left: 2%;
}