body {
    background-color: black ;
    background-size: 100%;
}
h1 {
    padding: auto;
    font-family: 'Barlow Condensed', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 444%;
    font-style: normal;
}
.laptop {
    font-size: xx-large;
}
.nav-container {
    background-color: gold;
}
.navi {
    font-style: normal;
    color: bisque;

}
.homebutt {
    color: rgb(96, 96, 96);
    font-style: normal;

    
}
.googlebutt {
    color: rgb(96, 96, 96);
    font-style:normal;

}
.navbar-toggler-icon {
    background-color: rgb(167, 167, 167);
}
.free-website {
    color: rgb(255, 255, 255);
    font-size: 500%;
}
.more-info-butt {
    color: gold;
    font-size: 500%;
    text-shadow: black 4px 4px
    
}
.highlighter {
    color: yellow;
}
