body {
    background-color: black ;
    background-size: 100%;
}
h1 {
    padding: auto;
    font-family: 'Barlow Condensed', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 444%;
    font-style: normal;
}
.laptop {
    font-size: 222%;
}
.nav-container {
    background-color: gold;
}
.navi {
    font-style: normal;
    color: bisque;

}
.home-butt {
    color: #000000;
    font-style: normal;

    
}
.about-butt {
    color: #000000;
    font-style:normal;

}
.navbar-toggler-icon {
    background-color: rgb(167, 167, 167);
}
.free-website-1 {
    
    font-size: 400%;
}
.free-website-2 {
    color: rgb(255, 255, 255);
    font-size: 300%;
}
.free-website-3 {
    color: rgb(255, 255, 255);
    font-size: 200%;
}
.claim-butt {
    color: gold;
    font-size: 300%;
    text-shadow: black 4px 4px;
    margin-right: 0%
    
}
.highlighter {
    color: yellow;
}
.html {
    margin-top: 5%;
    margin-right: 1%;
    color: gold;
}
.insta-butt {
    color:crimson;
    font-size: 190%;

    margin-left: 50%;
   
}
.YT-butt {
    color: red; 
    margin-right: 50%;
    font-size: 190%;
}
.promo-p {
    font-size: 500%;
    color: aliceblue;
}

.about-title {
    color: white;
    font-size: 333%;
}
.about-par {
    color: white;
    font-size: 200%;
    margin-top: -20%;
}

.education {
    font-size: 150%;

    color: white;
}

.job-table {
    margin-left: 18%;
}
.robotics {
    color: gold;
}
.robotics-row {
    margin-top: -17%;
    margin-right:1%;
}
.champ {
    color: aliceblue;
    font-size: 190% ;
}
.software {
    margin-top:-3%;
    color:gold;
}
.photoshop {
    margin-top: -2%
}
.harmony {
    margin-top: -35%;
    margin-left: 7%;
}
.vegas {
    margin-top: -27%;
    margin-left: 1%;
}
.ae {
    margin-top: -35%;

    margin-left: 2%;
}
.soft-span {
    color: white;
    font-size:x-large
}

