$color-background: rgb(245, 185, 158);
$color-gold: gold;
$color-yellow: yellow;
$color-white: white;
$color-black: black;
$color-gray: rgb(167, 167, 167);
$color-red: red;

@import 'colors';
@import 'elements';
@import 'fonts';
@import 'buttons';
@import 'icons';
@import 'softwarelogos';
@import 'hovers';
@import 'fieldsets';
